remote_configuration: false
soulseek:
    #enc!
    username: ENC[AES256_GCM,data:TbK2gt4s1d0=,iv:fie7ITCNs1Q9G/apfAtQ/T1D526xjIASdMD+/M+QjLg=,tag:luljB+RQharWGA8n2t8MDw==,type:str]
    #enc!
    password: ENC[AES256_GCM,data:NTHfNdtStBL21EWj9m33Ev3Nw26G91Hox0BWgpBlGZfAK1HEUZTgTTgRYLRvSWlcfEI=,iv:3aay1abGRJdcPZMca3lGnpJUkPEm7Ogso+xW1rB94rw=,tag:c4lL0JkfjEdQpSAp2snEFQ==,type:str]
shares:
    directories:
        - /share
web:
    https:
        disabled: true
    authentication:
        disabled: false
        #enc!
        username: ENC[AES256_GCM,data:AEZ5SiTYTVA=,iv:ZgLXchf0F2+TdWIbWnCNHLVqMegs8+53i+4jvye3VI0=,tag:+QWT3rZb3iS+aX1fSPXQdg==,type:str]
        #enc!
        password: ENC[AES256_GCM,data:1ELoZy42T6TLKucxhkRXFMS60TD+CUa4WNTWSDaVLR/XlzagNRJPEr/AGanjysE3mEI=,iv:el41jY4/ZjVOnAGZF9QYx5AKjudFnSzNl8V3CoShuEU=,tag:vyIVZbK4gUAMEBBWePgzpg==,type:str]
        api_keys:
            explo:
                #enc!
                key: ENC[AES256_GCM,data:qbErNJIy0D7BCzOT6f1jDmQ2L0BtY8tgdyGOfZfRKZUdP1+3TTgHdGwg3Q==,iv:UHZzVWczSAQsOW1BPuw9kItGvde17ZaYQspKDXKEJD4=,tag:uiu30WslwVEfsoeBIKxa+A==,type:str]
                cidr: 0.0.0.0/0
retention:
    search: 60
    transfers:
        download:
            # 1 day, in minutes
            succeeded: 1440
            # 2 weeks, in minutes
            errored: 20160
            cancelled: 5
integration:
    scripts:
        auto-import:
            "on":
                - DownloadDirectoryComplete
            run:
                executable: /local/auto-import.sh
sops:
    age:
        - recipient: age14nu42yf645xewsdgq03rwytpxw4pf6elmlwz9q3yundv32h8l3xqvq7hvn
          enc: |
            -----BEGIN AGE ENCRYPTED FILE-----
            YWdlLWVuY3J5cHRpb24ub3JnL3YxCi0+IFgyNTUxOSBOSlJWVFZnQjRmMjJQY1Vy
            emtZbUQyRnlvNkxva0RRMWdmdGVUWGZmSlVnCmw5b0krendzOGM4WEl6Z2owSjVl
            SHNrZGNWYW1GcnFCYXYxakhCNTZTSW8KLS0tIGtsN2xvU1ZxLzZ4Y1ZJeTBhdGds
            L1EyRVJZNnFPUWd5Z0pxMVd4dUllSzAKozU3TsXdLrLfwpp1rQh2ZlgGU6yDirJY
            lWLqtH0I2PTLbbygH9oTZwIPsiHx7N48TfEHoQpHxOE63QzuiMjESg==
            -----END AGE ENCRYPTED FILE-----
    lastmodified: "2025-12-18T10:44:51Z"
    mac: ENC[AES256_GCM,data:x1Yq2pi4IT9tiwTmCxM05aV7FcS0QvgwXyqCYgYR76fu2lDOpLyRp/pjv3hwdFfq1XfKUkUE3hCYprLYJZTZN0FXCCYVQL1xRyx7hI2/wSc85XwpAOCJNu+dwQD8hmH8VhGnd9mUZ+Pell7iM7YmWbVAjShtWp3UEe52gTVjMZw=,iv:KC8SkBzc8npkmc8A7/1rNlR5XxCp79KW7hvoce2m6q8=,tag:5Lyp4+/WA55DYW8qnPcEOA==,type:str]
    encrypted_comment_regex: enc!
    version: 3.10.2
