{
	admin off
	email {$EMAIL}
	skip_install_trust

	acme_dns cloudflare {$CLOUDFLARE_TOKEN}

	log {
		# level debug
		format console {
			time_format wall
		}
	}
}

dns.{$DOMAIN} {
	respond "Site not served from here"
}

mail.{$DOMAIN} {
	tls a@{$DOMAIN} {
		key_type rsa2048
	}
}

