global
        maxconn 100
        log     127.0.0.1 local2

defaults
        log global
        mode tcp
        retries 2
        timeout client 30m
        timeout connect 4s
        timeout server 30m
        timeout check 5s

listen stats
    mode http
    bind *:7000
    stats enable
    stats uri /

listen postgres
    bind *:5000
    option httpchk
    http-check expect status 200
    default-server inter 3s fall 3 rise 2 on-marked-down shutdown-sessions
	{{ $upstream := nomadService "postgres-apex" -}}
	{{- if $upstream -}}
	{{- range $upstream }}
    server apex {{ .Address }}:{{.Port }}{{ end }} maxconn 100 check port 8008
	{{- else -}}
    server apex localhost:1111 maxconn 100 check port 8008
	{{- end }}
	{{ $upstream := nomadService "postgres-vps" -}}
	{{- if $upstream -}}
	{{- range $upstream }}
    server vps {{ .Address }}:{{.Port }}{{ end }} maxconn 100 check port 8008
	{{- else -}}
    server vps localhost:1111 maxconn 100 check port 8008
	{{- end }}
	{{ $upstream := nomadService "postgres-green" -}}
	{{- if $upstream -}}
	{{- range $upstream }}
    server green {{ .Address }}:{{.Port }}{{ end }} maxconn 100 check port 8008
	{{- else -}}
    server green localhost:1111 maxconn 100 check port 8008
	{{- end }}
